/**
 * 定义一些常用的函数和方法
 *
 * 
 * @filename :  pureLess.less;
 * @author   :  f2engineer@outlook.com;
 * 
 */

// Commonly used css3 properties
// -------------------------------------------------
.box-shadow (@x: 0, @y: 0, @blur: 1px, @color: #000) {
    box-shadow: @arguments;
    -moz-box-shadow: @arguments;
    -webkit-box-shadow: @arguments;
}
//.box-shadow(2px, 5px);
.border-radius (@r: 3px) {
    border-radius: @r;
    -moz-border-radius: @r;
    -webkit-border-radius: @r;
}

//.transition(all, 0.5s, ease-in);
.transition (@prop: all, @time: 1s, @ease: linear) {
  -webkit-transition: @prop @time @ease;
  -moz-transition: @prop @time @ease;
  -o-transition: @prop @time @ease;
  -ms-transition: @prop @time @ease;
  transition: @prop @time @ease;
}

// webkit methods
// -------------------------------------------------
.multipleText-overflow (@h, @lineNum: 2, @direction: vertical) {
    height: @h;
    display: -webkit-box;
    -webkit-line-clamp: @lineNum;           // 行数
    -webkit-box-orient: @direction;         // 方向 
    overflow: hidden;
}

// Commonly used methods
// -------------------------------------------------
.text-overflow (@w) {
    width: @w;
    overflow:hidden;
    white-space:nowrap;
    text-overflow:ellipsis;
}
// 飞出去
.text-indent (){
    text-indent: -9999em;
}

// 自动换行(强制断开)
.wordwrap (){
    word-wrap: break-word;  
    word-break: break-all;       //会强制英文单词断行
}

// 禁止换行
.nowrap (){
    white-space: nowrap;
}

// link font 
.linkAction ('font', @color1, @color2, @underline1: none, @underline2: underline) {
    &:link, &:visited{
        color: @color1;
        text-decoration: @underline1;
      }
    &:hover, &:active{
        color: @color2;
        text-decoration :@underline2;
    }
}

// link background -> bg
.linkAction ('bg', @color1, @bgc1, @color2, @bgc2, @underline1: none, @underline2: none) {
    &:link, &:visited{
        color: @color1;
        background-color: @bgc1;
        text-decoration: @underline1;
      }
    &:hover, &:active{
        color: @color2;
        background-color: @bgc2;
        text-decoration :@underline2;
    }
}

// 未知尺寸图片居中 - 盒子 宽 高 
.image-center(@width, @height) {

    @_fontsize: round(@height * 0.873);
 
    width: ~'@{width}px';
    height: ~'@{height}px';
    overflow: hidden;
    display: table-cell;
    vertical-align: middle;
    text-align: center;
      
    *display: block;//IE hack
    *font: ~"@{_fontsize}px/1em Arial";
  
  img{
    max-height: ~'@{height}px';
    max-width: ~'@{width}px';
    vertical-align: middle;
  }
}

// 透明属性
.opacity(@opacity: 80) {
    opacity: @opacity / 100;
    filter: ~"alpha(opacity=@{opacity})";
}

// inline-block
.dib-wrap () {
    font-size:0;/* 所有浏览器 */
    *word-spacing:-1px;/* IE6、7 */
    .dib{
        font-size: 12px;
        letter-spacing: normal;
        word-spacing: normal;
        vertical-align:top;
    }
}
@media screen and (-webkit-min-device-pixel-ratio:0){
/* firefox 中 letter-spacing 会导致脱离普通流的元素水平位移 */
    .dib-wrap{
        letter-spacing:-5px;/* Safari 等不支持字体大小为 0 的浏览器, 根据父级字体调节*/
    }
}
.dib {
    display: inline-block;
    *display:inline;
    *zoom:1;
}

// Clear float and close label 
.fn-clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}
.fn-clearfix { display: inline-table; }
* html .fn-clearfix { height: 1%; /* for IE6 IE7 */}
.fn-clearfix { display: block; } 

// Trigger IE haslayout
.fn-zoom (){zoom:1;}

// Set inline, reduce floating brings bug 
.inline (){display:inline}
.fn-fl (){float:left;.inline;}
.fn-fr (){float:right;.inline;}
body .fn-hide{display:none;}

// Used in js addClass or removeClass
.fn-hide (){display:none;}



