/**
 * 雪碧图
 *
 * 
 * @filename :  sprites.less;
 * @author   :  f2engineer@outlook.com;
 * 
 */

.sprites-btn-backTop                { background-position: 0 -707px; width: 50px; height: 50px; } 
.sprites-btn-displayBriefhover      { background-position: 0 -807px; width: 24px; height: 22px; } 
.sprites-btn-displayBrieflink       { background-position: 0 -879px; width: 24px; height: 22px; } 
.sprites-btn-displayTitlehover      { background-position: 0 -951px; width: 24px; height: 22px; } 
.sprites-btn-displayTitlelink       { background-position: 0 -1023px; width: 24px; height: 22px; } 
.sprites-btn-industryTypehover      { background-position: 0 -1095px; width: 48px; height: 43px; } 
.sprites-btn-industryTypelink       { background-position: 0 -1188px; width: 43px; height: 43px; } 
.sprites-btn-newsTypehover          { background-position: 0 -1281px; width: 48px; height: 43px; } 
.sprites-btn-newsTypelink           { background-position: 0 -1374px; width: 43px; height: 43px; } 
.sprites-btn-noun                   { background-position: 0 -1467px; width: 48px; height: 15px; } 
.sprites-btn-oneKeyRss              { background-position: 0 -1532px; width: 140px; height: 35px; } 
.sprites-btn-rsshover               { background-position: 0 -1617px; width: 16px; height: 16px; } 
.sprites-btn-rsslink                { background-position: 0 -1683px;} 
.sprites-btn-search                 { background-position: 0 -1749px;} 
.sprites-btn-select-pull            { background-position: 0 -1834px;} 
.sprites-btn-snapshot               { background-position: 0 -1912px;} 
.sprites-btn-tqq                    { background-position: -293px 0;} 
.sprites-btn-weibo                  { background-position: -293px -66px;} 
.sprites-icon-bar                   { background-position: -293px -123px;} 
.sprites-icon-point-gray            { background-position: -290px -180px;} 
.sprites-logo-news                  { background-position: -293px -245px;} 
.sprites-rss-foxmail                { background-position: -293px -339px;} 
.sprites-rss-google                 { background-position: -293px -407px;} 
.sprites-rss-live                   { background-position: -293px -475px;} 
.sprites-rss-tangguo                { background-position: -293px -543px;} 
.sprites-rss-xianguo                { background-position: -293px -611px;} 
.sprites-rss-yahoo                  { background-position: -293px -679px;} 
.sprites-rss-youdao                 { background-position: -293px -747px;} 


//rpx
.rpx-classNews                      {background-position: 0 0; height:42px;}
.rpx-settingBar                     {background-position: 0 -48; height:27px;}

//需设定背景图片规则以使用拼合图片. 例子:
.ui-sprites{
    background-image:url("@{iconSpritePath}");
}
.ui-gradient-x{
    background-image:url("@{iconSpriteRpxPath}");
    background-repeat:repeat-x;
}